.homeBody {
    height: 100%;
    width: 100%;
    min-width: none;
  
    .left-col-card {
      height: 45rem;
      width: 20rem;
      margin-left: auto;
      margin-top: 1rem;
      position: relative;
      text-align: center;
    }

    .right-col-card {
      height: 45rem;
      width: 20rem;
      margin-right: auto;
      margin-top: 1rem;
    }
  }