.headerProfileCard {
  width: 60rem;
  height: 26rem;
  margin-left: auto;
  position: relative;

  .headerImage {
    width: 100%;
    height: 15rem;
  }

  .profileImage {
    border: 4px solid white;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    position: absolute;
    left: 3rem;
    top: 10rem;
  }

  .nameContainer {
    padding-left: 15rem;
    height: 3rem;
    padding-top: 1rem;
    font-size: 1.5rem;
  }

  .rowInfo {
    width: 100%;
    margin-top: 2rem;
    padding-left: 3rem;
  }

  .tabOption {
    text-align: center;
    width: auto;
    height: 2.3rem;
    margin-right: 2rem;
  }

  .tabOption:hover {
    cursor: pointer;
  }
}

.rightColCard {
  width: 20rem;
}