.homeBody {
  height: 100%;
  width: 100%;
  min-width: none;

  .centerCol {
    height: 100vh;
  }

  .leftCol {

    text-align: center;

    .leftColCard {
      height: 45rem;
      width: 20rem;
      margin-left: auto;
      margin-top: 1rem;
      position: relative;
    }
  }

  .rightCol {

    .rightColCard {
      height: 45rem;
      width: 20rem;
      margin-right: auto;
      margin-top: 1rem;
    }
  }
}