.nav {
  background-color: white;
  height: 3rem;
  box-shadow: 0 0 2rem rgb(0 0 0 / 10%);
  width: 100%;

  .agencyLogo {
    width: 6rem;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    cursor: pointer;
  }

  .iconsContentCol {
    display: inline-flex;
    justify-content: center;
  }

  .profileImage {
    width: 2.5rem;
    border-radius: 50%;
    cursor: pointer;
    margin: 0;
  }

  .settingsIcon {
    width: 1.2rem;
    margin-top: 0.5rem;
  }

  .navItemMargin {
    margin-left: 1rem;
  }
}


.settingsIcon {

  font-weight: 600;

  .menu_item_container {

    cursor: pointer;
    text-decoration: none;
    color: black;

    .settingsIcon {
      width: 1rem;
      margin-right: 0.5rem;
    }
  }


}