.input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.title_account_settings {
  font-size: 1.5rem;
  font-weight: $font-weight-side-menu;
}

.datepicker {
  border-radius: 5px;
  border: 1px solid #CED4DA;
  height: 35px;
  width: 100%;
}

.required::after {
  content: "*";
  color: red;
}