.settingsCard {
  height: 30rem;
  width: 20rem;
  margin-left: auto;
  margin-top: 1rem;
  position: relative;

  .menuVoices {
    font-weight: $font-weight-side-menu;
    cursor: pointer;

    .settingsIcon {
      width: 1rem;
      margin-right: 0.5rem;
    }

  }
}