.registrationBackground {
  width: 100vw;
  height: 100vh;
  background: url(../../img/sfondoLogin.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


  .registrationCard {
    width: 25rem;
    padding: 2rem;
    position: absolute;
    right: 10rem;
    top: 15rem;
    text-align: center;

    .registrationTitle {
      font-weight: 600;
      margin-bottom: 1rem;
    }

    .registerButton {
      width: 100%;
      margin-bottom: 1rem;
    }

    .labelGroup {
      font-weight: 600;
    }
  }
}